<%= link_to "Update Citizen", "/citizens/#{@citizen.id}/edit" %>
<h2><%= @citizen.name %></h2>
  <p>Age: <%= @citizen.age  %></p>
  <p>Country: <%= @citizen.country.name  %></p>
  <p><% if @citizen.employed %></p>
       <p>Is Employed</p>
     <% else %>
       <p>Is Not Employed</p>
     <% end %>

